<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sulijin.androidfinalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="sulijin.androidfinalproject.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tianjunjin.androidfinalproject.NutritionActivity"
            android:label="@string/title_activity_nutrition" />
        <activity
            android:name="zhentingmai.androidfinalproject.AutomobileActivity"
            android:label="@string/title_activity_automobile" />

        <activity
            android:name="sulijin.androidfinalproject.ActivityTrackingActivity"
            android:label="@string/title_activity_tracking" />
        <activity
            android:name="sulijin.androidfinalproject.ActivityTrackingAddActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/t_new_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="tianjunjin.androidfinalproject.FoodActivity"
            android:label="@string/title_activity_food" />

        <activity android:name="zhentingmai.androidfinalproject.AutoHistoryActivity" />
        <activity android:name="zhentingmai.androidfinalproject.AutoSummaryActivity" />
        <activity android:name="zhentingmai.androidfinalproject.AutoDetailActivity" />

        <activity android:name="xiasheng.androidfinalproject.AddHouseActivity" />
        <activity android:name="xiasheng.androidfinalproject.trackingHouseActivity" />

    </application>

</manifest>